<!DOCTYPE html>
<html>
<head>
	<title>Setting</title>
	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/settingtabs.css')}}">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper_setting">
	<div class="log">
		<a href="/"><div id="logo">Ukhti</div></a>
		<div id="log"><div id="namalog">
			<ul>
				<li><a href="{{route('profilUser')}}">@{{user.username}}</a>
					<ul>
						<li><a href="">About Ukhti</a></li>
						<li><a href="">Toko</a></li>
						<li><a href="">Tutorial</a></li>
						<li><a href="">Artikel</a></li>
						<li><a href="">Pengaturan</a></li>
						<li><a href="{{route('logoutUser')}}">Log Out</a></li>
					</ul>
				</li>
			</ul>
		</div></div>
		<div class="wraplog">
			<a href="{{route('profilUser')}}">
				<img id="photolog" src="/uploadPhoto/photoProfil/{{user.photoProfil}}" width="100%" height="100%">
			</a>
		</div>
	</div>
	<div id="wrapper">
		<div class="setting">
			<div id="setting1">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#getSetting" aria-controls="getSetting" role="tab" data-toggle="tab">Setting</a>
					</li>
					<li role="presentation">
						<a href="#getEditProfil" aria-controls="getEditProfil" role="tab" data-toggle="tab">Edit Profil</a>
					</li>
				</ul>
				<div class="gambar_foto"></div>
			</div>
		</div>
		<div class="daftar_setting">
			<div id="daftar_setting1">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="getSetting">
						<div class="gambar_setting"></div>
					</div>
						<div role="tabpanel" class="tab-pane" id="getEditProfil">
						<form enctype="multipart/form-data" method="POST" action="{{route('editSettingUser', {id: user.id})}}">
						<input type="hidden" name="_token" value="{{ csrf_token() }}">
							<div class="namanya">
								<div class="namanya1">Nama</div>
								<div class="ttk">:</div>
								<input type="text" name="name" value="{{user.name}}" class="isi_namanya1"></input>
							</div>
							<div class="namanya">
								<div class="namanya1">Email</div>
								<div class="ttk">:</div>
								<input type="text" name="email" value="{{user.email}}" class="isi_namanya1"></input>
							</div>
							<div class="namanya">
								<div class="namanya1">Alternatif email</div>
								<div class="ttk">:</div>
								<input type="text" name="al_email" value="{{user.al_email}}" class="isi_namanya1"></input>
							</div>
							<div class="namanya">
								<div class="namanya1">Password</div>
								<div class="ttk">:</div>
								<input type="password" name="password" value="" class="isi_namanya1"></input>
							</div>
							<div class="namanya">
								<div class="namanya1">Konfirmasi Password</div>
								<div class="ttk">:</div>
								<input type="password" name="password" value="" class="isi_namanya1"></input>
							</div>
							<div class="namanya">
								<div class="namanya1">Tempat Tanggal Lahir</div>
								<div class="ttk">:</div>
								<input type="text" name="tempat_lahir" value="{{user.tempat_lahir}}" class="tempatlahir"></input>
								<input type="date" name="tanggal_lahir" value="{{user.tanggal_lahir}}" class="tanggallahir"></input>
							</div>
							<div class="namanya">
								<div class="namanya1">Jenis Kelamin</div>
								<div class="ttk">:</div>
			                    <input type="radio" name="jenis_kelamin" value="" class="radiojk">Perempuan</input>
			                    <input type="radio" name="jenis_kelamin" value="" class="radiojk">Laki-laki</input>
							</div>
							<div class="namanya">
								<div class="namanya1">Status</div>
								<div class="ttk">:</div>
			                    <select name="status" value="" class="isi_namanya1">
			                        <option value="">Lajang</option>
			                        <option value="">Menikah</option>
			                    </select>
							</div>
							<div class="namanya">
								<div class="namanya1">Alamat</div>
								<div class="ttk">:</div>
								<input type="text" name="alamat" value="{{user.alamat}}" class="isi_namanya1"></input>
							</div>
							<div class="namanya">
								<div class="namanya1">Telepon</div>
								<div class="ttk">:</div>
								<input type="number" name="noHP" value="{{user.noHP}}" class="isi_namanya1"></input>
							</div>
							<div class="namanya">
								<div class="namanya1">Kesukaan</div>
								<div class="ttk">:</div>
								<input type="text" name="kesukaan" value="{{user.kesukaan}}" class="isi_namanya1"></input>
							</div>
							<div class="namanya">
								<div class="namanya1">Kutipan Hadits</div>
								<div class="ttk">:</div>
								<textarea class="textarea_setting" value="{{user.kutipanHadits}}"></textarea>
							</div>
							<div class="namanya">
								<div class="namanya1">Suasana Hati</div>
								<div class="ttk">:</div>
								<input type="text" name="statusUser" value="{{user.statusUser}}" class="isi_namanya1"></input>
							</div>
							<div class="namanya">
								<div class="namanya1">contact Us</div>
								<div class="ttk">:</div>
								<input type="text" name="contactUs" value="{{user.contactUs}}" class="isi_namanya1"></input>
                        		<input type="submit" name="daftar" value="Simpan" class="simpan_edit"></input>
							</div>
						</form>
						</div>
	  			</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>