{% extends 'layout' %}
{% block title %}
    User Tutorial
{% endblock %}
{% block isi %}
			<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="#" class="active">Tutorialnya Ukhty ;)</a>
				</div>
			</div>
			</div>
		<div id="wrapper">
			<div class="isicontent_user">
			<div class="user_judulTutorial">Tutorialnya Ukhty ;)</div>
			{% for item in tutorial %}
			<div class="isicontent_user1">
				<a href="{{route('tutorial.isi-tutorial', {No: item.No})}}">
					<div class="user_judul">{{item.Judul_Tutorial}}</div>
				</a>
				<div class="user_photo"><img src="/uploadPhoto/tutorial/{{item.Photo}}" width="100%" height="100%"></div>
				<div class="user_isinya">{{item.Isi_Tutorial|str_words(50)|raw}}</div>
			</div>
			{% endfor %}
			<div class="paginate">{{ tutorial.render()|raw }}</div>
			</div>
		</div>
{% endblock %}