{% extends 'layout' %}
{% block title %}
    User Toko
{% endblock %}
{% block isi %}
			<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="#" class="active">Tokonya Ukhty ;)</a>
				</div>
			</div>
			</div>
		<div id="wrapper">
			<div class="isicontent_user">
			<div class="user_judulTutorial">Tokonya Ukhty ;)</div>
			{% for item in toko %}
			<div class="isicontent_user1">
				<div class="user_photo"><img src="/uploadPhoto/toko/{{item.photoToko}}" width="100%" height="100%"></div>
				<div class="userbungkus_toko">
				<div class="userjudul_toko">{{item.Judul}}</div>
				<div class="userharga_toko">Harga: Rp.{{item.harga}},-</div>
				<div class="user_isinya1">Keterangan: {{item.ketToko}}</div>
				</div>
			</div>
			{% endfor %}
			<div class="paginate">{{ toko.render()|raw }}</div>
			</div>
		</div>
{% endblock %}