{% extends 'auth/layoutUserCRUD' %}
{% block userCRUD %}
	<form enctype="multipart/form-data" method="post" action="{{route('prosesEditTutorial', {No: isiTutorial.No})}}"> 
		<input type="hidden" name="_token" value="{{ csrf_token() }}" />
		<div class="bungkus-tool-judul">
			<input type="text" name="Judul_Tutorial" placeholder="Judul" class="judul-art" value="{{isiTutorial.Judul_Tutorial}}" />
			<input type="file" name="Photo" class="photo" value="{{isiTutorial.Photo}}">
			<div class="note">Note: Harap diisi dengan gambar utama postingan anda</div>
			<div class="bungkus-isiArtikel">
				<textarea name="Isi_Tutorial">{{isiTutorial.Isi_Tutorial}}</textarea>
			</div>
			<input type="submit" name="edit" value="Perbarui" class="push" />
		</div>
	</form>
{% endblock %}