
						  	<div class="panel-group" id="accordion">
							  	{% for item in tahun %}
							    	<div class="panel panel-default">
								      	<div class="panel-heading">
								        	<h4 class="panel-title">
								          		<a data-toggle="collapse" data-parent="#accordion" href="#tahun-{{item.tahun}}">{{item.tahun}}</a>
								        	</h4>
								        	({{item.total}})
								      	</div>
								      	<div id="tahun-{{item.tahun}}" class="panel-collapse collapse in">
								        	<div class="panel-body">
									          	<div class="panel-group" id="{{item.tahun}}-accordion">
										          	{% for bulan in item.bulan %}
										            	<div class="panel panel-default">
											              	<div class="panel-heading">
											                	<h4 class="panel-title">
											                  		<a data-toggle="collapse" data-parent="#{{item.tahun}}-accordion" href="#bulan-{{bulan.bulan}}-{{item.tahun}}">{{bulan.bulan}}</a>
											                	</h4>
											                	({{bulan.jumlah}})
											              	</div>
											              	<div id="bulan-{{bulan.bulan}}-{{item.tahun}}" class="panel-collapse collapse in">
											                	<div class="panel-body">
											                		{% for link in bulan.link %}
											                			<li><a href="{{route('artikel.isi-artikel', {No: link.No})}}">{{link.Judul}}</a></li>
											                		{% endfor %}
											                	</div>
											              	</div>
										            	</div>
										            {% endfor %}
									          	</div>
								        	</div>
								      	</div>
							    	</div>
							    {% endfor %}
						  	</div>