{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form method="get" action="{{url('hadits/searchhadits')}}">
					<input type="text" name="keywords" placeholder="Search" class="text"></input>
					<input type="submit" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="#" class="active">Hadits</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					{% for isi in hadits %}
						<div id="artikel">
							<div class="judul-artikel">
							{{isi.Sumber_HR}}
							</div>
							<div class="out-artikel">
							{{isi.Isi_Hadits}}
							</div>
						</div>
					{% endfor %}
					<div class="paginate">
						{{ hadits.render()|raw }}
					</div>
				</div>
				<div class="rightKet">
					<div id="arsip">
						<div class="judul">Keterangan</div>
						<div class="isi-ket"> 
							Assalamualaikum Ukhti ^^ Laman ini berisi hadits shahih tentang wanita. Semoga bermanfaat^^
						</div>
					</div>
					<div id="arsip">
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
							{% include 'ArsipHadits' %}
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}