{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				{% include 'formSearchTutorial' %}
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="{{route('tutorial')}}">Tutorial</a>
					<a href="#" class="active">
						{{dataTutorial.Judul_Tutorial}}
					</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					<div id="bungkus-tulisan">
						<div id="tulis">
							<div class="tanggal">{{dataTutorial.created_at}}</div>
							<div class="title">{{dataTutorial.Judul_Tutorial}}</div>
						</div>
						<div id="out-tulisan">
							<div class="foto1"><img src="/uploadPhoto/tutorial/{{dataTutorial.Photo}}" width="100%" height="100%"></div>
							<div class="tulisan">{{dataTutorial.Isi_Tutorial|raw}}</div>
						</div>
						{% include 'komentartutorial' %}
					</div>
				</div>
				<div class="rightKet">
					<div id="arsip">
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
							{% include 'ArsipTutorial' %}
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}