{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				{% include 'formSearchArtikel' %}
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="{{route('artikel')}}">Artikel</a>
					<a href="#" class="active">{{dataArtikel.Judul_Artikel}}</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					<div id="bungkus-tulisan">
						<div id="tulis">
							<div class="tanggal">{{dataArtikel.created_at}}</div>
							<div class="title">{{dataArtikel.Judul_Artikel}}</div>
						</div>
						<div id="out-tulisan">
							<div class="foto1"><img src="/uploadPhoto/artikel/{{dataArtikel.Photo}}" width="100%" height="100%"></div>
							<div class="tulisan">{{dataArtikel.Isi_Artikel|raw}}</div>
						</div>
						{% include 'komentarArtikel' %}
					</div>
				</div>
				<div class="rightKet">
					<div id="arsip">
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
							{% include 'ArsipArtikel' %}
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}