{% extends 'layoutProfil' %}
{% block buatnamaUser %}
    {{foruser.name}}
{% endblock %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="#" class="active">{{foruser.name}}</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="namauser">{{foruser.name}}</div>
				<div class="phobiouser">
					<div id="photouser">
						<a href="#lihat" data-toggle="modal">
							<img src="/uploadPhoto/photoProfil/{{foruser.photoProfil}}" width="100%" height="100%" class="photoProfil" >
						</a>
						<div class="modal fade" id="lihat" role="dialog">
							{% include 'full' %}
						</div>
					</div>
					<div class="outbioUmum">
						<div id="biodatauser">
							<div class="alamat"></div>
							<div class="isiBio">{{foruser.alamat}}</div>
						</div>
						<div id="biodatauser">
							<div class="ttl"></div>
							<div class="isiBio">{{foruser.tempat_lahir}}, {{foruser.tanggal_lahir}}</div>
						</div>
						<div id="biodatauser">
							<div class="jk"></div>
							<div class="isiBio">{{foruser.jenis_kelamin}}</div>
						</div>
						<div id="biodatauser">
							<div class="iemail"></div>
							<div class="isiBio">{{foruser.email}}</div>
						</div>
						<div id="biodatauser">
							<div class="nohp"></div>
							<div class="isiBio">{{foruser.noHP}}</div>
						</div>
						<div id="biodatauser">
							<div class="suka"></div>
							<div class="isiBio">{{foruser.kesukaan}}</div>
						</div>
						<div id="biodatauser">
							<div class="ihadits"></div>
							<div class="isiBio">{{foruser.kutipanHadits}}</div>
						</div>
					</div>
				</div>
				<div class="contentuser">
					<div id="navuser">
						<ul class="nav nav-tabs" role="tablist">
						    <li role="presentation" class="active">
						    	<a href="#getTestimoni" aria-controls="getTestimoni" role="tab" data-toggle="tab">Testimoni</a>
						    </li>
						    <li role="presentation">
						    	<a href="#getToko" aria-controls="getToko" role="tab" data-toggle="tab">Toko</a>
						    </li>
						    <li role="presentation">
						    	<a href="#getArtikel" aria-controls="getArtikel" role="tab" data-toggle="tab">Artikel</a>
							</li>
						    <li role="presentation">
						    	<a href="#getTutorial" aria-controls="getTutorial" role="tab" data-toggle="tab">Tutorial</a>
						    </li>
						</ul>
					</div>
					<div class="out-profil">
						<div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="getTestimoni">
							    <div class="scroll">
							    	{% for item in testimoni %}
							    		<div id="wrap-testimoni">
							    			<div class="photo-testimoni"><img src="/uploadPhoto/testimoni/{{item.Photo}}" width="100%" height="100%"></div>
							    			<div class="out-testimoni">
							    				<div id="judul-testimoni">
							    					<div class="nama-testimoni">{{item.nama}}</div>
							    					<div class="date-testimoni">{{item.created_at}}</div>
							    				</div>
							    				<div id="isi-testimoni">{{item.isiTestimoni}}</div>
							    			</div>
							    		</div>
							    	{% endfor %}
								</div>
								<div class="formTestimoni">
									<form action="{{route('prosesTestimoni', {id: id})}}" method="POST" enctype="multipart/form-data">
										<input type="hidden" name="_token" value="{{ csrf_token() }}">
										<input type="hidden" name="status" value="false">
										<input type="hidden" name="verb" value="Mengirim Testimoni ke Profil Anda">
										<input type="file" name="Photo" class="fileTestimoni">
										<input type="email" name="email" class="inputTestimoni"  placeholder="E-mail">
										<input type="text" name="nama" class="inputTestimoni" placeholder="Nama">
										<textarea name="isiTestimoni" class="komenTestimoni" maxlength="100">Isi testimoni</textarea>
										<input type="submit" value="Submit" class="submitTestimoni">
									</form>
								</div>
							</div>
						    <div role="tabpanel" class="tab-pane" id="getToko">
							    <div class="scroll">
							    	{% for item in toko %}
							    		<div id="wrap-testimoni">
							    			<div class="photo-testimoni"><img src="/uploadPhoto/toko/{{item.photoToko}}" width="100%" height="100%"></div>
							    			<div class="out-testimoni">
							    				<div id="judul-testimoni">
							    					<div class="nama-testimoni">{{item.judulToko}}</div>
							    					<div class="date-testimoni">Rp.{{item.harga}},- >> {{item.jb}}</div>
							    				</div>
							    				<div id="isi-testimoni">{{item.ketToko|str_words(50)|raw}}</div>
							    			</div>
							    		</div>
							    	{% endfor %}
								</div>
							</div>
						    <div role="tabpanel" class="tab-pane" id="getArtikel">
							    <div class="scroll">
							    	{% for item in artikel %}
							    		<div id="wrap-testimoni">
							    			<div class="photo-testimoni"><img src="/uploadPhoto/artikel/{{item.Photo}}" width="100%" height="100%"></div>
							    			<div class="out-testimoni">
							    				<div id="judul-testimoni">
							    					<div class="nama-testimoni">{{item.Judul_Artikel}}</div>
							    					<div class="date-testimoni">{{item.created_at}}</div>
							    				</div>
							    				<div id="isi-testimoni">{{item.Isi_Artikel|str_words(50)|raw}}</div>
							    			</div>
							    		</div>
							    	{% endfor %}
								</div>
							</div>
						    <div role="tabpanel" class="tab-pane" id="getTutorial">
							    <div class="scroll">
							    	{% for item in tutorial %}
							    		<div id="wrap-testimoni">
							    			<div class="photo-testimoni"><img src="/uploadPhoto/tutorial/{{item.Photo}}" width="100%" height="100%"></div>
							    			<div class="out-testimoni">
							    				<div id="judul-testimoni">
							    					<div class="nama-testimoni">{{item.Judul_Tutorial}}</div>
							    					<div class="date-testimoni">{{item.created_at}}</div>
							    				</div>
							    				<div id="isi-testimoni">{{item.Isi_Tutorial|str_words(50)|raw}}</div>
							    			</div>
							    		</div>
							    	{% endfor %}
								</div>
							</div>
  						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}