{% extends 'layout' %}
{% block title %}
    Search Kerudung
{% endblock %}
{% block isi %}
		<div id="bar">
			<div class="search">
				
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="{{route('toko')}}">Toko</a>
					<a href="{{route('toko.kerudung')}}">Kerudung</a>
					<a href="#" class="active">Search</a>
				</div>
			</div>
		</div>
	<div id="wrapper">
		<div class="wrap">
			<div class="content">
				<div class="cari">
    				<form method="get" action="{{url('/toko/kerudung/searchkerudung')}}">
    					<input type="text" name="keywords" placeholder="Search" class="text3">
    					<input type="submit" value="" class="submit1">
    				</form>
				</div>
				<div class="hasil-search">Hasil Pencarian</div>
				{% if keywords is empty %}
				    <div class="isi-notsearch">Maaf, kata yang anda cari tidak ada. Coba menggunakan kata kunci lain.</div>
				{% else %}
					{% for item in keywords %}
					<div class="isi-search">
					    {{item.judulToko|str_words (10)}}
					</div>
					{% endfor %}
				{% endif %}
				<div class="paginate">
					{{ toko.render()|raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}