{% extends 'layout' %}
{% block isi %}
	<div id="wrapper">
		<div class="wrap">
			<div class="content">
				<div class="bungkus-search">
					<div class="cari">
    					<form method="get" action="{{url('hadits/searchhadits')}}">
    						<input type="text" name="keywords" placeholder="Search" class="text"</input>
    						<input type="submit" value="" class="submit"></input>
    					</form>
					</div>
					<div class="hasil-search">Hasil Pencarian</div>
					{% for item in keywords %}
						<div class="isi-search">
						    {{ item.Isi_Hadits}|str_words(10)}}
						</div>
					{% endfor %}
				</div>
				<div class="paginate">
					{{ hadits.render()|raw }}
				</div>
			</div>
			<div class="rightKet">
				<div class="bungkus-arsip">
					<div id="arsip">	
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
							<div class="panel-group" id="accordion">
								{% for item in tahun %}
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#tahun-{{item.tahun}}">{{item.tahun}}</a>
											</h4>
											({{item.total}})
										</div>
										<div id="tahun-{{item.tahun}}" class="panel-collapse collapse in">
											<div class="panel-body">
												<div class="panel-group" id="{{item.tahun}}-accordion">
													{% for bulan in item.bulan %}
														<div class="panel panel-default">
															<div class="panel-heading">
																<h4 class="panel-title">
																	<a data-toggle="collapse" data-parent="#{{item.tahun}}-accordion" href="#bulan-{{bulan.bulan}}">{{bulan.bulan}}</a>
																</h4>
																({{bulan.jumlah}})
															</div>
															<div id="bulan-{{bulan.bulan}}" class="panel-collapse collapse in">
																<div class="panel-body">
																	<a href="#link">Buat linknya</a>
																</div>
															</div>
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}