{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="#" class="active">Tutorial</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					{% for isi in tutorial %}
						<div id="artikel">
							<div class="judul-artikel">
								{{isi.Judul_Tutorial}}
							</div>
							<div class="out-artikel">
								<div id="photo-artikel"><img src="/uploadPhoto/tutorial/{{isi.Photo_Tutorial}}" width="100%" height="100%"></div>
								<div id="artikelnya"> 
									{% autoescape %}
									{{isi.Isi_Tutorial | str_words(50) | raw }}
									{% endautoescape %}
								</div>
							</div>
						</div>
					{% endfor %}
					<div class="paginate">
						{{ tutorial.render()|raw }}
					</div>
				</div>
				<div class="rightKet">
					<div class="judul">Keterangan</div>
					<div class="isi-ket"> Assalamualaikum Ukhti ^^ Laman ini berisi berbagai macam tutorial. Semoga Bermanfaat^^</div>
				</div>
				<div class="rightKet">
					<div id="arsip">	
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
							<!--meta name="viewport" content="width=device-width, initial-scale=1">
  							<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
							<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  							<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
						        <div class="container">
  								<div class="panel-group" id="accordion">
    								<div class="panel panel-default">
      								<div class="panel-heading">
        								<h4 class="panel-title">
          								<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
        								</h4>
      								</div>
      								<div id="collapse1" class="panel-collapse collapse in">
        								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
     								 </div>
    								</div>
   								 <div class="panel panel-default">
     								 <div class="panel-heading">
       								 <h4 class="panel-title">
         								 <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
        								</h4>
      								</div>
      								<div id="collapse2" class="panel-collapse collapse">
        								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      								</div>
    								</div>
    								<div class="panel panel-default">
     								 <div class="panel-heading">
        								<h4 class="panel-title">
          								<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
       								 </h4>
      								</div>
      								<div id="collapse3" class="panel-collapse collapse">
        								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      								</div>
    								</div>
  								</div> 
								</div-->
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}