{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form method="get" action="{{url('tutorial/search')}}">
					<input type="text" name="keywords" placeholder="Search" class="text"></input>
					<input type="submit" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="#" class="active">Tutorial</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					{% for isi in tutorial %}
						<div id="artikel">
							<a href="{{route('tutorial.isi-tutorial', {No: isi.No})}}">
								<div class="judul-artikel">
									{{isi.Judul_Tutorial}}
								</div>
							</a>
							<div class="out-artikel">
								<div id="photo-artikel"><img src="/uploadPhoto/tutorial/{{isi.Photo_Tutorial}}" width="100%" height="100%"></div>
								<div id="artikelnya"> 
									{% autoescape %}
									{{isi.Isi_Tutorial|str_words(50)|raw }}
									{% endautoescape %}
								</div>
							</div>
						</div>
					{% endfor %}
					<div class="paginate">
						{{ tutorial.render()|raw }}
					</div>
				</div>
				<div class="rightKet">
					<div class="judul">Keterangan</div>
					<div class="isi-ket"> Assalamualaikum Ukhti ^^ Laman ini berisi berbagai macam tutorial. Semoga Bermanfaat^^</div>
				</div>
				<div class="rightKet">
					<div id="arsip">	
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
						  	<div class="panel-group" id="accordion">
							  	{% for item in tahun %}
							    	<div class="panel panel-default">
								      	<div class="panel-heading">
								        	<h4 class="panel-title">
								          		<a data-toggle="collapse" data-parent="#accordion" href="#tahun-{{item.tahun}}">{{item.tahun}}</a>
								        	</h4>
								        	({{item.total}})
								      	</div>
								      	<div id="tahun-{{item.tahun}}" class="panel-collapse collapse in">
								        	<div class="panel-body">
									          	<div class="panel-group" id="{{item.tahun}}-accordion">
										          	{% for bulan in item.bulan %}
										            	<div class="panel panel-default">
											              	<div class="panel-heading">
											                	<h4 class="panel-title">
											                  		<a data-toggle="collapse" data-parent="#{{item.tahun}}-accordion" href="#bulan-{{bulan.bulan}}">{{bulan.bulan}}</a>
											                	</h4>
											                	({{bulan.jumlah}})
											              	</div>
											              	<div id="bulan-{{bulan.bulan}}" class="panel-collapse collapse in">
											                	<div class="panel-body">
											                		<a href="#link">Buat linknya</a>
											                	</div>
											              	</div>
										            	</div>
										            {% endfor %}
									          	</div>
								        	</div>
								      	</div>
							    	</div>
							    {% endfor %}
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}