{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form method="get" action="tutorial/search">
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="#" class="active">Tutorial</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					{% for isi in tutorial %}
						<div id="artikel">
							<div class="judul-artikel">
								{{isi.Judul_Tutorial}}
							</div>
							<div class="out-artikel">
								<div id="photo-artikel"><img src="/uploadPhoto/tutorial/{{isi.Photo_Tutorial}}" width="100%" height="100%"></div>
								<div id="artikelnya"> 
									{% autoescape %}
									{{isi.Isi_Tutorial | str_words(50) | raw }}
									{% endautoescape %}
								</div>
							</div>
						</div>
					{% endfor %}
					<div class="paginate">
						{{ tutorial.render()|raw }}
					</div>
				</div>
				<div class="rightKet">
					<div class="judul">Keterangan</div>
					<div class="isi-ket"> Assalamualaikum Ukhti ^^ Laman ini berisi berbagai macam tutorial. Semoga Bermanfaat^^</div>
				</div>
				<div class="rightKet">
					<div id="arsip">	
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
							
						            <li>
						  				<a href="#arsip2016">2016</a>
						  				<ul class="sidebar">
										    <li><a href="#januari">Januari</a></li>
										    <li><a href="#febuari">Febuari</a></li>
										    <li><a href="#maret">Maret</a></li>
										    <li><a href="#apri">Apri</a></li>
										    <li><a href="#mei">Mei</a></li>
										    <li><a href="#juni">Juni</a></li>
										    <li><a href="#juli">Juli</a></li>
										    <li><a href="#agustus">Agustus</a></li>
										    <li><a href="#september">September</a></li>
										    <li><a href="#oktober">Oktober</a></li>
										    <li><a href="#november">November</a></li>
										    <li><a href="#desember">Desember</a></li>
										  </ul>
									</li>
						            <li>
						  				<a href="#arsip2015">2015</a>
						  				<ul class="sidebar">
										    <li><a href="#januari">Januari</a></li>
										    <li><a href="#febuari">Febuari</a></li>
										    <li><a href="#maret">Maret</a></li>
										    <li><a href="#apri">Apri</a></li>
										    <li><a href="#mei">Mei</a></li>
										    <li><a href="#juni">Juni</a></li>
										    <li><a href="#juli">Juli</a></li>
										    <li><a href="#agustus">Agustus</a></li>
										    <li><a href="#september">September</a></li>
										    <li><a href="#oktober">Oktober</a></li>
										    <li><a href="#november">November</a></li>
										    <li><a href="#desember">Desember</a></li>
										  </ul>
									</li>
						            <li>
						  				<a href="#arsip2014">2014</a>
						  				<ul class="sidebar">
										    <li><a href="#januari">Januari</a></li>
										    <li><a href="#febuari">Febuari</a></li>
										    <li><a href="#maret">Maret</a></li>
										    <li><a href="#apri">Apri</a></li>
										    <li><a href="#mei">Mei</a></li>
										    <li><a href="#juni">Juni</a></li>
										    <li><a href="#juli">Juli</a></li>
										    <li><a href="#agustus">Agustus</a></li>
										    <li><a href="#september">September</a></li>
										    <li><a href="#oktober">Oktober</a></li>
										    <li><a href="#november">November</a></li>
										    <li><a href="#desember">Desember</a></li>
										  </ul>
									</li>
						        </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}