{% extends 'layout' %}
{% block title %}
    Ukhti
{% endblock %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form method="GET" action="{{route('searchAll')}}">
					<input type="text" name="keywords" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="#" class="active">Home</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					<div id="js">
						<div class="slider-wrapper theme-default">
							<div id="slider" class="nivoSlider">
								{% for item in artikel1 %}
									<a href="{{route('artikel.isi-artikel', {No: item.No})}}">
										<img id="js" src="/uploadPhoto/artikel/{{item.Photo}}" width="100%" height="100%">
									</a>
								{% endfor %}
								{% for item in tutorial1 %}
									<a href="{{route('tutorial.isi-tutorial', {No: item.No})}}">
										<img id="js" src="/uploadPhoto/tutorial/{{item.Photo}}" width="100%" height="100%">
									</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="rightKet">
					<div id="arsip">
						<div class="judul">Artikel</div>
						<div class="isi-arsip">
							{% for item in artikel %}
								| <a href="{{route('artikel.isi-artikel', {No: item.No})}}">{{item.Judul}}</a>
							{% endfor %}
						</div>
					</div>
					<div id="arsip">
						<div class="judul">Tutorial</div>
						<div class="isi-arsip">
							{% for item in tutorial %}
								| <a href="{{route('tutorial.isi-tutorial', {No: item.No})}}">{{item.Judul}}</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}