<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/profiltabs.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/media-queries.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{asset('css/collapsepanelsetting.css')}}"/>
	<title>{{ block('NamaUser') }}</title>
	<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="all-wrapper">
		<div id="header">
			<div class="log">
				<a href="/"><div id="logo">Ukhti</div></a>
						<div class="panel-group">
							<div class="panel panel-default">
				<div id="log">
					<ul>
					  			<li><a data-toggle="collapse" href="#setting">Setting</a>
								    <div id="setting" class="panel-collapse collapse">
								    	<div class="panel-body">Panel Body</div>
								    	<div class="panel-footer">Panel Footer</div>
								    </div>
								</li>
						<li><a href="{{route('about')}}">About</a></li>
					</ul>
			    </div>
			    <div class="wraplog">
		    		<a href="{{route('profilUser')}}">
			    		<div id="photolog">{{user.Photo}}</div>
			    		<div id="namalog">@{{user.username}}</div>
		    		</a>
			    </div>
							</div>
				    	</div>
			</div>
			<div class="navigasi">
				<ul>
					<div class="navigasi-in"><li><a href="{{route('toko')}}">Toko</a></li></div>
					<div class="navigasi-in"><li><a href="{{route('artikel')}}">Artikel</a></li></div>
					<div class="navigasi-in"><li><a href="{{route('tutorial')}}">Tutorial</a></li></div>
					<div class="navigasi-in"><li><a href="{{route('hadits')}}">Hadits</a></li></div>
				</ul>
			</div>
		</div>
		{{ block('isiUser') }}
		<div id="footer">
			<div id="logoF"><a href="{{route('/')}}"> Ukhti </a></div>
			<div class="info">
				<div id="kontak">
					<a href="https://www.facebook.com/ukhtiwebsiteinformation/?ref=aymt_homepage_panel" target="_blank"><div id="icon-fb"></div></a>
					<a href="https://twitter.com/Ukhti19f" target="_blank"><div id="icon-twitt"></div></a>
					<div id="icon">
						<ul>
							<li>
								<a href="https://plus.google.com/u/0/102599475103197283643/" target="_blank">
									<img src="{{asset('images/g.png')}}" width="100%" height="100%" />
								</a>
								<ul>
									<li> ukhti19f16@gmail.com </li>
								</ul>
							</li>
						</ul>
					</div>
					<div id="icon">
						<ul>
							<li>
								<img src="{{asset('images/kontak.png')}}" width="100%" height="100%" />
								<ul>
									<li> 082216631084 </li>
									<li> 082319711511 </li>
									<li> 089612754898 </li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div id="subscribe">
					<div class="judul-subscribe">Berlangganan Artikel di Ukhti Yuu..</div>
					<form class="form-subscribe" method="POST" action="{{route('simpanLangganan')}}">
						<input type="hidden" name="_token" value="{{ csrf_token() }}"></input>
						<input name="email" placeholder="Your E-mail Address" class="input-subscribe" type="email">
						<input name="subscribe" value="Subscribe Now!" class="submit-subscribe" type="submit">
					</form>
				</div>
			</div>
			<div class="info1">
				<div id="judul">Partner</div>
				<div id="out-logo">
					<div class="logoP"></div>
					<div class="logoP"></div>
					<div class="logoP"></div>
					<div class="logoP"></div>
					<div class="logoP"></div>
					<div class="logoP"></div>
					<div class="logoP"></div>
					<div class="logoP"></div>
				</div>
			</div>
			<div class="info">
				<div id="judul">About Ukhti</div>
				<div id="aboutringkasan">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
			<div class="copyright">Ukhti &copy 2016</div>
		</div>
	</div>
</body>
</html>