<!DOCTYPE html>
<html>
<head>
    <title>Insert Toko</title>
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="all-wrapper">
        <div class="log">
            <a href="{{route('/')}}"><div id="logo">Ukhti</div></a>
            <div id="log">
                <ul>
                    <li><a href="{{route('aboutUser')}}">About</a></li>
                    <li><a href="{{route('logoutUser')}}">Log Out</a></li>
                </ul>
            </div>
        </div>
        <div id="wrapper">
            <form enctype="multipart/form-data" method="POST" action="{{route('prosesToko')}}">
                <input type="hidden" name="_token" value="{{ csrf_token() }}"></input>
                <input type="text" name="Judul" placeholder="Judul" class="insertToko" maxlength="40"></input>
                <input type="file" name="photoToko" value="Browse" class="brows-toko"></input>
                <input type="number" name="harga" placeholder="Harga" class="insertToko" max="9999999999999999" min="0"></input>
                <select name="jb" class="insertToko">
                    <option>Jenis Barang</option>
                    <option value="Pakaian">    Pakaian     </option>
                    <option value="Kerudung">   Kerudung    </option>
                    <option value="Aksesoris">  Aksesoris   </option>
                    <option value="Makanan">    Makanan     </option>
                    <option value="Tas">        Tas         </option>
                    <option value="Sepatu">     Sepatu      </option>
                    <option value="Lainnya">    Lainnya     </option>
                </select>
                <div class="insert-ket-toko">Keterangan Barang:</div>
                <textarea class="text-area" name="ketToko" maxlength="175"></textarea>
                <input type="submit" name="simpan" value="Sunting" class="simpan"></input>
            </form>
        </div>
    </div>
</div>
</body>
</html>